<div class="product p-8 overflow-hidden">
  <div class="cursor-pointer">
    <img class="col-md-8" [src]="product.imageCover" alt="">
    <h5 class="text-main">{{product.title}}</h5>
    <h3 class="fw-bolder">{{product.price}} EGP</h3>
    <button class="btn btn-sm m-0 p-0 text-danger" (click)="RemoveitemFromWishList()">
      <i _ngcontent-nik-c24 class="fa fa-trash"></i>
      Remove
    </button>
  </div>
  <!-- <button class="btn bg-main text-white m-auto d-block">Add To Cart</button> -->
  <button class="btn-count btn btn-lg d-block mx-auto"> Add to cart</button>
  <app-add-to-cart  [productId]="product._id"></app-add-to-cart>

</div>
